/*-------------------------------------------------------
	Flash data styling - shared
-------------------------------------------------------*/

div.flash_success {
	background:#E2F9E3 url('../../../../images/icons/green_tick.gif') no-repeat 8px 7px; 
	border: 1px solid #99CC99; 
	padding: 6px 10px 5px 42px; 
	margin: 0 0 18px 0;
	font-size: 1.3em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	}

div.flash_error {
	background: #FBE6F2 url('../../../../images/icons/error.png') no-repeat 8px 7px; 
	border: 1px solid #D893A1; 
	padding: 6px 10px 5px 42px; 
	margin: 0 0 18px 0;
	font-size: 1.3em;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	}
	
div.top_error {
	background: #FBE6F2;
	border: 1px solid #D893A1;
	padding:10px;
	margin: 0 0 25px 0;
	font-size: 15px;
	}