/*-----------------------------------------------------------------------------
General UA style overriders

author: Kos Korolev
-----------------------------------------------------------------------------*/

* {
	margin:0;
	padding:0;
	}
	body {
		font:62.5%/1.6 'Lucida Grande', Arial, Helvetica, sans-serif;
		color:#000;
		background:#fff;	
		}
		a:link {
			text-decoration:underline;
			}
		a:visited {
			text-decoration:line-through;
			}
		a:hover {
			text-decoration:none;
			}
		a:active {
			text-decoration:none;
			outline:none;
			}
		img {
			border:none;
			}
		/*input,
		select,
		textarea {
			font:1em "Lucida Sans Unicode", Verdana, Arial, sans-serif;
			}*/
			textarea {
				overflow:auto;
				}
		table {
			border-collapse:collapse;
			font-size:1em;
			}
			td {
				vertical-align:middle;
				}
		h1, h2, h3, h4, h5, h6 {
			padding:0 0 .4em;
			font-weight:normal;
			}
			h1 {
				font-size:2.6em;
				}
			h2 {
				font-size:1.9em;
				}
			h3 {
				padding-bottom:.6em;
				font-size:1.6em;
				}
			h4 {
				font-size:1em;
				padding-bottom: 0.2em;
				}
			h5 {
				padding-bottom:.8em;
				font-size:1.3em;
				}
			h6 {
				padding-bottom:.8em;
				font-size:1.1em;
				}
		p {
			padding:0 0 8px;
			}
		ul {
			list-style:none;
			}
			.content ul,
			.content ol {
				padding:0 0 .8em 1.4em;
				}
				.content ul {
					list-style:disc;
					}
				.content ol {
					margin-left:10px; /* for ie6 */
					}
					.content ol ol {
						padding-top:1em !important;
						padding-left:3em;
						list-style-type:lower-alpha;
						}
					.content li {
						padding:0 0 .6em;
						}
		a:link {
			text-decoration:underline;
			cursor:pointer;
			}
		br {
			clear:both;
			line-height:0;
			}
		hr {
			clear:both;
			height:1px; 
			border:none; 
			border-top:1px solid #688FA3;
			margin:5px 0px; 
			}
		sub {
			vertical-align:-.5em;
			line-height:0.7em;
			}
		sup {
			vertical-align:super;
			}
		fieldset {
			border:none;
			}
		button,
		input.button,
		input.submit {
		    overflow:visible;
		    padding:0 4px;
		    line-height:normal;
			vertical-align:middle;
			cursor:pointer;
			}
			button::-moz-focus-inner {padding:0; border:0} /* fix https://bugzilla.mozilla.org/show_bug.cgi?id=140562 */

	blockquote, q {
		quotes: none;
		}
	blockquote:before,
	blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
		}
